{% extends 'blog/base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block content %}

{% if form.errors %}

<div class="container">


       <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong>

      </div>
{% endif %}


	<h1>Register</h1>
<br/><br/>


		<form action="{% url 'register_user' %}" method=POST>
			{% csrf_token %}
			{{ form.as_p }}
			<form>
<br/><br/>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}